/* seletor {
    propriedade: valor
}  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2 {text-align: center;}
h3 {text-align: justify;}
.banner { 
    background: url(../img/banner-bg.png) center no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    padding-top: 16rem;
    color: white;
}

.banner_titulo {
    font-size: 3rem;
    margin: 0;

}
.banner_descricao {
    font-size: 1.5rem;
}
.banner_botao {
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    }

..botao_branco {
    background-color: white;
    color: #7e4598;
    }

.botao-roxo {
    background-color: #7e4598;
    color:white;
    }
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem;
}
.sobre_titulo {
    text-align: center;
    margin-bottom: 1rem;
}

.sobre_descricao, .sobre_habilidades {
    width: 40%;
    margin: 3rem;
    display: inline-block;
    vertical-align: top;
    padding: center ;
}
.sobre_habilidades {
    vertical-align: top;
    margin-left: 3rem;
}

.fotter {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.redes-sociais_link {
    display: inline-block;
    background-color: #7e4598 ;
    width: 20%;
    height: 180px;
    padding: 2rem 0;
    margin: 0 1rem;
    color: white;
}

.redes-sociais_img {
    height: 50px;
    padding: center;
    width: 50%;
    height: 50%;
    margin: 0;
    

}



